//-
  Copyright © 2015 Luis Sieira Garcia

  This file is part of Planète.

      Planète is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
      
      Planète is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.

      You should have received a copy of the GNU Affero General Public License
      along with along with planète.  If not, see <http://www.gnu.org/licenses/>.  If not, see <http://www.gnu.org/licenses/>
-//

doctype html
html
  include ./utils
  +head
    +baseCss
    +baseScripts
    +angularInjections(angularInjections)
    +moduleScripts(scripts)
    body(ng-app='planete' ng-controller= 'planeteController')
      button.btn.btn-success(ng-click='login()') #[.fa.fa-key] Login
      button.btn.btn-primary(ng-click='admin()') #[.fa.fa-lock] Admin
