//-
  Copyright © 2015 Luis Sieira Garcia

  This file is part of Planète.

      Planète is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
      
      Planète is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.

      You should have received a copy of the GNU Affero General Public License
      along with along with planète.  If not, see <http://www.gnu.org/licenses/>.  If not, see <http://www.gnu.org/licenses/>
-//

mixin head
  meta(charset='utf8')
  base(href='/')
  title #{title} - Planète
  meta(name="viewport", content="width=device-width, initial-scale=1")
  if block
    block

mixin baseCss
  link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
  
mixin baseScripts
  script(src='jquery/dist/jquery.js')
  script(src='bootstrap/dist/js/bootstrap.js')
  script(src='angular/angular.js')
  script(src='angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='oclazyload/dist/ocLazyLoad.js')

mixin moduleScripts(scripts)
  if (scripts)
    each script in scripts
      script(src=script)

mixin angularInjections(injections)
  script(type='text/javascript')
    | var angularInjections = []
    each injection in injections
      | .concat("#{injection}".split(','))
    | ;
