//-
  Copyright © 2015 Luis Sieira Garcia

  This file is part of Planète.

      Planète is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.

      Planète is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.

      You should have received a copy of the GNU Affero General Public License
      along with along with planète.  If not, see <http://www.gnu.org/licenses/>.  If not, see <http://www.gnu.org/licenses/>
-//

uib-tab
  uib-tab-heading #[i.fa.fa-users] Users
  
  div(oc-lazy-load='modules/admin/views/users/js/app.js')  
    .container-fluid(ng-controller='adminUsersController')
      button.btn.btn-primary #[i.fa.fa-user] New user
      .container-fluid
        table.table.table-striped.table-hover
          thead
            tr
              th(ng-repeat='attribute in attributes') {{attribute}}
              th
          tbody
            tr(ng-repeat='user in users')
              td {{ user.name }}
              td {{ user.roles }}
              td {{ user.creationDate }}
              td #[i.fa.fa-2x.fa-pencil-square-o]
          
